@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --tweet: #0000004C;
  --tweetHoverCl: rgba(0,0,0,0.03);
  --level2: #f2f2f2;
  --level3: #e8e8e8;
  --level4: #dedede;
  --level1Hover: #f2f2f2;
  --level2Hover: #e6e6e6;
  --primaryText: #000000;
  --secondaryText: #212121;
  --tertiaryText: #4d4d4d;
  --quaternaryText: #595959;
  --invertedPrimaryText: #ffffff;
  --invertedTertiaryText: #b3b3b3;
  --lighttext:#4d5357;
  --normaltext:rgb(15,20,25);
  --bordercl:rgb(239, 243, 244);
  --hoverIconBgCl:rgba(15, 20, 25,0.1);
  --hoverColor: rgb(247, 240, 240);
  --iconColor: rgb(83, 100, 113);
  --bgCl: #fafafa;
  --primary_bg: rgb(255,255,255);
  --elevated_border: rgb(219,219,219);
  --secondary_text: rgb(142, 142, 142),;
  --homeCl: rgba(255,255,255,0.85);
  --bgicon:  rgba(0,0,0,0);
  --borderWarn:rgba(253,201,206);
  --bgClWarning: rgba(244,33,46,0.1);
  --textWarn: rgba(244,33,46);
  /* b */
  --interHoverIcon: rgba(29,155,240,0.1);
  /* --interHoverIconActive: rgba(249,24,128,0.1);  */
  --interHoverIconActive: rgba(29,155,240,0.2); 
  --iconFIllActive: rgb(29,155,240);
  --iconFIll:rgba(83,100,113);
  --tweetButonHover: rgb(26,140,216);
}

[data-theme="dark"] {
  --background: #0d0d0d;
  --tweet: #0000004C;
  --tweetHoverCl: #0000004C;
  --level2: #242424;
  --level3: #3b3b3b;
  --level4: #4d4d4d;
  --level1Hover: #262626;
  --level2Hover: #303030;
  --primaryText: #ffffff;
  --secondaryText: #dedede;
  --tertiaryText: #b3b3b3;
  --quaternaryText: #999999;
  --invertedPrimaryText: #000000;
  --invertedTertiaryText: #595959;
  --lighttext:#fcfdff;
  --normaltext:rgb(244, 245, 245);
  --bordercl:rgb(37, 163, 225);
  --bgCl: #fafafa;
  --primary_bg: rgb(255,255,255);
  --elevated_border: rgb(219,219,219);
  --secondary_text: rgb(142, 142, 142);
  --bordercl: rgb(47,51,54);
  --homeCl: rgba(255,255,255,0.85);
  --iconColor: rgb(83, 100, 113);
  --interHoverIcon: rgba(29,155,240,0.1);
  --interHoverIconActive: rgba(249,24,128,0.1); 
  --tweetButonHover: rgb(26,140,216);

}

body {
  background-color: var(--background);
  color: var(--primaryText);
}

.canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
textarea::-webkit-resizer {
  display: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type=file] {
  white-space: nowrap !important;
  overflow: hidden !important;
  overflow-clip-box: padding-box;
  color: unset;

  /* Revert rules which apply on all inputs. */
  appearance: none;
  -moz-default-appearance: none;
  cursor: default;

  border: none;
  background-color: transparent;
  padding: unset;
}
